<div class="mt-4">
	<form>
		<div class="form-group">
			<label for="search-input">Google</label>
			<input type="text" name="q" class="form-control" id="exampleInputEmail1" placeholder="nhap tu khoa">
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>